main{
  min-height: 80vh;
}



h1{
  padding: 10px;

}
h3{
  padding: 3px;

}

.rating span {
  margin:3px;
}


.divtopmargin{
  margin-top: 20px;
}


.bg-oldlace{
 background-color:#FCD116	;
}
.bg-footercol{
background-color: #1F1F1F;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display:block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}


.divtopmargin{
  margin: 50px;
}

@media (max-width: 340px) {
  .main {
    width: 60%;
    background-color: blue;
  }
}

@media (max-width: 499px) {
    .Smallscreen{
      
     
      padding-left:30px ;
      padding-right: 30px;
    }
  }


@media (max-width: 499px) {
  .DesktopOnly {
      display: none;
  }
}